<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.min.css">
    <link rel="stylesheet" href="https://webslides.tv/static/css/webslides.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="static/css/imgslider.css">
  </head>
  <body>
  {body}
  </body>
    <script src="static/js/webslides.min.js"></script>
    <script>
      window.ws = new WebSlides();
    </script>
    <script defer src="static/js/svg-icons.js"></script>
    <script defer src="static/js/imgslider.js"></script>

</html>