.q1 {
    width: 512px;
    height: 512px;
    object-fit: none;
    object-position: 0% 0%;
}

.q2 {
    width: 512px;
    height: 512px;
    object-fit: none;
    object-position: 100% 0%;
}

.q3 {
    width: 512px;
    height: 512px;
    object-fit: none;
    object-position: 0% 100%;
}

.q4 {
    width: 512px;
    height: 512px;
    object-fit: none;
    object-position: 100% 100%;
}